<%- include("include/header") -%>

<div class="container">
	<h3>받은파일이름 : <%=o_name%></h3>
	<h3>변경파일이름 : <%=c_name%></h3>
	<h3>파일사이즈 : <%=size%></h3>
	<div class="d-grid gap-2">
		<a href="/" class="btn btn-primary">돌아가기</a>
	</div>
</div>

<%- include("include/footer") -%>